@import  'variables';


@mixin firt($bgDefault:rgb(0, 0, 0) , $txtColor:rgb(198, 198, 198)){
    background-color: $bgDefault;
    color: $txtColor;
    width: $small;
    padding: $firtRem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: .5rem;
    border: solid $colorWhite 1px;
}

body{
    background: #000;
}

.card{
    @include firt( );
    // background-color: $colorAqua;
    
    h1{
        color: $colorWhite;
    }
    .p{
        letter-spacing: $bitRem   ;
        // color: $colorBlack;
        font-size: $firtRem + 0.2;
    }
    a{
        color: $colorWhite;
    }

}

.card2{
    @include firt($bgDefault:rgba(232, 232, 232, 0.884),$txtColor:rgb(36, 36, 36) );
    a{
        color: $colorWhite;
    }
}